In [20]:
import pandas as pd
import numpy as np

In [21]:
csv_file = "SCDB_2018_02_justiceCentered_Citation.csv"
scotus = pd.read_csv(csv_file, encoding = "latin1")
scotus.head()

,caseId,docketId,caseIssuesId,voteId,dateDecision,decisionType,usCite,sctCite,ledCite,lexisCite,...,majVotes,minVotes,justice,justiceName,vote,opinion,direction,majority,firstAgreement,secondAgreement
0,1946-001,1946-001-01,1946-001-01-01,1946-001-01-01-01-01,11/18/1946,1,329 U.S. 1,67 S. Ct. 6,91 L. Ed. 3,1946 U.S. LEXIS 1724,...,8,1,86,HHBurton,2.0,1.0,1.0,1.0,NaN,NaN
1,1946-001,1946-001-01,1946-001-01-01,1946-001-01-01-01-02,11/18/1946,1,329 U.S. 1,67 S. Ct. 6,91 L. Ed. 3,1946 U.S. LEXIS 1724,...,8,1,84,RHJackson,1.0,1.0,2.0,2.0,NaN,NaN
2,1946-001,1946-001-01,1946-001-01-01,1946-001-01-01-01-03,11/18/1946,1,329 U.S. 1,67 S. Ct. 6,91 L. Ed. 3,1946 U.S. LEXIS 1724,...,8,1,81,WODouglas,1.0,1.0,2.0,2.0,NaN,NaN
3,1946-001,1946-001-01,1946-001-01-01,1946-001-01-01-01-04,11/18/1946,1,329 U.S. 1,67 S. Ct. 6,91 L. Ed. 3,1946 U.S. LEXIS 1724,...,8,1,80,FFrankfurter,4.0,2.0,2.0,2.0,NaN,NaN
4,1946-001,1946-001-01,1946-001-01-01,1946-001-01-01-01-05,11/18/1946,1,329 U.S. 1,67 S. Ct. 6,91 L. Ed. 3,1946 U.S. LEXIS 1724,...,8,1,79,SFReed,1.0,1.0,2.0,2.0,NaN,NaN

In [22]:
current_df = scotus[["term", "justice", "direction", "issueArea", "caseOriginState", "precedentAlteration", "lawType"]]

current_df.head()

,term,justice,direction,issueArea,caseOriginState,precedentAlteration,lawType
0,1946,86,1.0,8.0,6.0,1.0,6.0
1,1946,84,2.0,8.0,6.0,1.0,6.0
2,1946,81,2.0,8.0,6.0,1.0,6.0
3,1946,80,2.0,8.0,6.0,1.0,6.0
4,1946,79,2.0,8.0,6.0,1.0,6.0

In [23]:
current_df.count()

term                   79612
justice                79612
direction              75096
issueArea              79073
caseOriginState        22057
precedentAlteration    79603
lawType                68379
dtype: int64

In [24]:
noNA = current_df.dropna(axis=0, subset=["issueArea", "direction"])

In [25]:
noNA.count()

term                   75087
justice                75087
direction              75087
issueArea              75087
caseOriginState        21066
precedentAlteration    75087
lawType                65764
dtype: int64

In [26]:
current_df = noNA.fillna(0)
current_df.count()

term                   75087
justice                75087
direction              75087
issueArea              75087
caseOriginState        75087
precedentAlteration    75087
lawType                75087
dtype: int64

In [27]:
current_df = current_df.astype({"term": int, "caseOriginState": int, "precedentAlteration": int, 
                                "issueArea": int, "lawType": int, 
                               "justice": int, "direction": int})
current_df.head()

,term,justice,direction,issueArea,caseOriginState,precedentAlteration,lawType
0,1946,86,1,8,6,1,6
1,1946,84,2,8,6,1,6
2,1946,81,2,8,6,1,6
3,1946,80,2,8,6,1,6
4,1946,79,2,8,6,1,6

In [28]:
current_scotus = current_df[current_df["justice"] > 105]
current_scotus.head()

,term,justice,direction,issueArea,caseOriginState,precedentAlteration,lawType
53990,1987,106,2,9,0,0,4
54071,1987,106,2,10,5,0,1
54080,1987,106,2,9,0,0,3
54089,1987,106,1,7,0,0,6
54116,1987,106,2,4,42,0,2

In [29]:
current_scotus.to_csv("Current-SCOTUS-Data.csv")

In [30]:
unique_term = current_scotus["term"].unique()
unique_issueArea = current_scotus["issueArea"].unique()
unique_caseOriginState = current_scotus["caseOriginState"].unique()
unique_lawType = current_scotus["lawType"].unique()

print(unique_term)
print(unique_lawType)
print(unique_issueArea)
print(unique_caseOriginState)

[1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000
 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014
 2015 2016 2017]
[4 1 3 6 2 5 0 8 9]
[ 9 10  7  4  1  8  3  2  6 12  5 13 14]
[ 0  5 42 22 41 45 25 21 27 29  4 17 13 37 58 39 19  6 33 57 12 51 18 20
 35 26 36  1 48 30 55 56 38 43 28 16 32 50  9 31 23 46 10 52 15  7 59 47
  8 14 53  2 34 49]

In [37]:
possibilites = [unique_term.all(), 1953, 1960, 1962, 1965, 1968, 1972, 1973, 1977, 1984, 2018]
exists = current_scotus["term"].tolist()
difference = pd.Series([item for item in possibilites if item not in exists])
target = current_scotus["term"].append(pd.Series(difference))
target = target.reset_index(drop=True)
dummies_term = pd.get_dummies(target, prefix="term")
dummies_term = dummies_term.drop(dummies_term.index[list(range(len(dummies_term)-len(difference), len(dummies_term)))])
dummies_term = dummies_term.drop(["term_True"], axis=1)
dummies_term.head()

,term_1953,term_1960,term_1962,term_1965,term_1968,term_1972,term_1973,term_1977,term_1984,term_1987,...,term_2009,term_2010,term_2011,term_2012,term_2013,term_2014,term_2015,term_2016,term_2017,term_2018
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [32]:
possibilites = [unique_issueArea.all()]
exists = current_scotus["issueArea"].tolist()
difference = pd.Series([item for item in possibilites if item not in exists])
target = current_scotus["issueArea"].append(pd.Series(difference))
target = target.reset_index(drop=True)
dummies_issueArea = pd.get_dummies(target, prefix="issueArea")
dummies_issueArea = dummies_issueArea.drop(dummies_issueArea.index[list(range(len(dummies_issueArea)-len(difference), len(dummies_issueArea)))])
dummies_issueArea.head()

,issueArea_1,issueArea_2,issueArea_3,issueArea_4,issueArea_5,issueArea_6,issueArea_7,issueArea_8,issueArea_9,issueArea_10,issueArea_12,issueArea_13,issueArea_14
0,0,0,0,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,0,0,0

In [33]:
possibilites = [unique_caseOriginState.all(), 60]
exists = current_scotus["caseOriginState"].tolist()
difference = pd.Series([item for item in possibilites if item not in exists])
target = current_scotus["caseOriginState"].append(pd.Series(difference))
target = target.reset_index(drop=True)
dummies_caseOriginState = pd.get_dummies(target, prefix="caseOriginState")
dummies_caseOriginState = dummies_caseOriginState.drop(dummies_caseOriginState.index[list(range(len(dummies_caseOriginState)-len(difference), len(dummies_caseOriginState)))])
dummies_caseOriginState.head()

,caseOriginState_0,caseOriginState_1,caseOriginState_2,caseOriginState_4,caseOriginState_5,caseOriginState_6,caseOriginState_7,caseOriginState_8,caseOriginState_9,caseOriginState_10,...,caseOriginState_50,caseOriginState_51,caseOriginState_52,caseOriginState_53,caseOriginState_55,caseOriginState_56,caseOriginState_57,caseOriginState_58,caseOriginState_59,caseOriginState_60
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
possibilites = [unique_lawType.all()]
exists = current_scotus["lawType"].tolist()
difference = pd.Series([item for item in possibilites if item not in exists])
target = current_scotus["lawType"].append(pd.Series(difference))
target = target.reset_index(drop=True)
dummies_lawType = pd.get_dummies(target, prefix="lawType")
dummies_lawType = dummies_issueArea.drop(dummies_lawType.index[list(range(len(dummies_lawType)-len(difference), len(dummies_lawType)))])
dummies_lawType.head()

,issueArea_1,issueArea_2,issueArea_3,issueArea_4,issueArea_5,issueArea_6,issueArea_7,issueArea_8,issueArea_9,issueArea_10,issueArea_12,issueArea_13,issueArea_14
0,0,0,0,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,0,0,0

In [35]:
dummies_precAlt = pd.get_dummies(current_scotus["precedentAlteration"], prefix="precedentAlteration")
dummies_precAlt.reset_index(drop=True, inplace=True)
dummies_precAlt.head()

   precedentAlteration_0  precedentAlteration_1
0                      1                      0
1                      1                      0
2                      1                      0
3                      1                      0
4                      1                      0

In [38]:
dir_df = pd.DataFrame(current_scotus["direction"].reset_index(drop=True))
justice_df = pd.DataFrame(current_scotus["justice"].reset_index(drop=True))

OH_scotus = pd.concat([dummies_term, dummies_issueArea], axis=1)
OH_scotus = pd.concat([OH_scotus, dummies_caseOriginState], axis=1)
OH_scotus = pd.concat([OH_scotus, dummies_lawType], axis=1)
OH_scotus = pd.concat([OH_scotus, dummies_precAlt], axis=1)
OH_scotus = pd.concat([OH_scotus, dir_df], axis=1)
OH_scotus = pd.concat([OH_scotus, justice_df], axis=1)
OH_scotus.head()

,term_1953,term_1960,term_1962,term_1965,term_1968,term_1972,term_1973,term_1977,term_1984,term_1987,...,issueArea_8,issueArea_9,issueArea_10,issueArea_12,issueArea_13,issueArea_14,precedentAlteration_0,precedentAlteration_1,direction,justice
0,0,0,0,0,0,0,0,0,0,1,...,0,1,0,0,0,0,1,0,2,106
1,0,0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,1,0,2,106
2,0,0,0,0,0,0,0,0,0,1,...,0,1,0,0,0,0,1,0,2,106
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,1,106
4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,2,106

In [40]:
OH_scotus.to_csv("SCOTUS_OHEncoded.csv")